# Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# VSCode/IntelliJ/Android Studio
.vscode/
.idea/
*.iml

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
macos/Flutter/ephemeral/
linux/Flutter/ephemeral/
windows/Flutter/ephemeral/
web/.dart_tool/
web/build/

# CocoaPods (iOS/macOS)
ios/Pods/
macos/Pods/
*.xcworkspace

# Gradle & Android-specific
android/.gradle/
android/app/build/
android/local.properties

# OS-specific
.DS_Store
Thumbs.db